 *{
    margin:0;
    padding:0;
    color:white;
div{
    height:25px;
}
 }
 #navigation{
    background-color: #0f1111;

 }
 #search{
    background-color:#f08804;
 }
 #amazon{
    color:#f08804;
    font-size:20px;
 }
 a{
    margin-right:200px;
 }